.paint{
  opacity: 0.2;
  background-color:rgb(192, 61, 9);
  position:fixed;
  border-radius: 50%;
  height:120px;
  width:120px;
  z-index:0;
}

header{
  display: flex;
  width: 100%;
  align-items: center;
  background: url("haikei-header-clear.jpg");
  background-size: cover;
  background-position: 100% 70%;
  width: 100%;
  height: 300px;
  background-color: #a6c0fe;
  border: 0px none;
  position: relative;
  z-index: 50;
  font-size: 25px;
}

#ichidaisai-rogo:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.header-table{
  margin-left: auto;
  text-align: center;
  border: 0px none;
}

#Stage-Event-button{
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  background: #ff9a9e;
  color: #FFF;
  width: 160px;
  height: 160px;
  line-height: 160px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #ff9a9e;
  border: dashed 1px #FFF;
  transition: .4s;
  position: relative;
  z-index: 100;
}

#Aboutus-button{
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  background: #a1c4fd;
  color: #FFF;
  width: 160px;
  height: 160px;
  line-height: 160px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #a1c4fd;
  border: dashed 1px #FFF; transition: .4s;
  position: relative;
  z-index: 100;
}
#Map-Access-button{
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  background: #f6d365;
  color: #FFF;
  width: 160px;
  height: 160px;
  line-height: 160px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #f6d365;
  border: dashed 1px #FFF;
  transition: .4s;
  position: relative;
  z-index: 100;
}
#Gallary-button{
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn;
  color: #FFF;
  width: 160px;
  height: 160px;
  line-height: 160px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #f6d365;
  border: dashed 1px #FFF;
  transition: .4s;
  position: relative;
  z-index: 100;
}
#Stage-Event-button:hover, #Aboutus-button:hover, #Map-Access-button:hover, #Gallary-button:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  color: white;
}


.ichidaisai{
  margin-right: auto;
}
.header-table{
  margin-left: auto;
}

main{
  padding:0px 10%;
}

footer{
  background: url("haikei-footer-clear.jpg");
  background-size: cover;
  background-position: 100% 50%;
  background-color:#a6c0fe;
  width: 100%;
  height: auto;
  text-align: center;
  border-top: 1px solid lightgray;
  margin-top: 10px;
  padding-bottom: 30px;
  color: #fff;
  position: relative;
  z-index: 50;
}
.page_top_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #bbb;
  text-align: center;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  background: #ff9a9e;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #ff9a9e;
  border: dashed 1px #FFF;
  transition: .4s;
  z-index: 100;
}
.page_top_btn:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  color: white;
}


.footer-title {
  margin-top: 30px;
  position: relative;/*相対位置*/
  line-height: 1.4;/*行高*/
  display: inline-block;
}
.footer-title:before, .footer-title:after {
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-size: 1.0em;
  color: #ff6a6a;
}
.footer-title:before {
  content:"\f053";/*アイコン種類*/
  padding-right: 0.5em
}
.footer-title:after {
  content:"\f054";/*アイコン種類*/
  padding-left: 0.5em
}
#Twitter{
  position: relative;
  z-index: 100;
  cursor: pointer;
}
#Instagram{
  position: relative;
  z-index: 100;
}
#Twitter:hover, #Instagram:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

@media screen and (max-width: 960px){
  #Stage-Event-button{
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
  }
  #Aboutus-button{
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
  }
  #Map-Access-button{
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
  }
  #Gallary-button{
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
  }
}
